.Layout {
    .Header {
        text-align: center;
        color: #FAFDFF;
        height: 70px;
        padding-inline: 50px;
        line-height: 70px;
        background-color: #008BCC;
        margin-bottom: 40px;
    }
}